<h2>Sam Wolfe</h2>
<p><img src="http://en.gravatar.com/userimage/45567293/27101fdcc6d8d79756d37c54890f06e9.jpeg" alt="Sam Wolfe" title="Follow me on Twitter @ukapudubs"  class="img-rounded floatLeft" />			
Student, marketing intern at Full Stack and musician (in no specific order). Follow me on Twitter @ukapudubs, since the United Kingdom Airsoft Players Union took @ukapu.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ukapu&repo=ukapu.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ukapu&repo=ukapu.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/ukapudubs" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @ukapudubs</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/ukapu" rel="me" class="social github" title="Go to github.com/ukapu" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/ukapudubs" rel="me" class="social twitter" title="Go to twitter.com/ukapu" target="_blank"></a></li>
	</ul>
</p>