<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://ukapu.github.com">Sam Wolfe</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://ukapu.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/ukapu" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/ukapu" title="Go to twitter.com/ukapu" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/github/xmyo" title="Go to feedburner" target="_blank">RSS</a>  
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://coderwall.com/ukapu" title="Go to coderwall/ukapu" target="_blank">Coderwall</a>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/ukapu/earthjs" title="Go to Earth.js on GitHub" target="_blank">Earth.js</a></li>	
				</ul>
			  </li>		  
		<li class="divider-vertical"></li>
		</ul>		
	  </div>
	</div>
  </div>
</div>